@using LorisAngel.Webpanel.Data

<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
            <Authorizing>
                <p>Authorizing...</p>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1 style="color:red;">ERROR 404!</h1>
                <p style="color:white;">Page Not Found</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
